body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #002b55;
}

/* ID Selector */
#about {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    border-radius: 10px;
}

/* Class Selector */
.highlight {
    color: #04558a;
    font-weight: bold;
}

.section-title {
    color: rgb(2, 88, 38);
}

/* Styling the ordered list */
ol {
    background-color: #beae79;
    padding: 20px 40px;
    border-radius: 8px;
}

ol li {
    margin: 8px;
}

/* Styling the unordered list */
ul {
    background-color: rgb(96, 139, 202);
    padding: 20px 40px;
    border-radius: 8px;
}

ul li {
    margin: 8px;
}


li:hover {
    color: #5c0a01;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    color: rgb(66, 7, 2);
}